<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <br><br>
        <img id="about" src="/img/IMG_7606-min.JPG">
        <p>I'm an Enginnering student studying in the National Institute Of Engineering,Mysuru.This is one of the my project called Weather App which is used to give user the weather forecast such as temperature,rain percentage,etc based on the location entered by the user</p>
    </div>
    {{>footer}}
</body>
</html>